---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Navbar from '@/components/Navbar.astro';

const title = 'Home';
const description = 'Welcome to my personal website where I write things';
---

<BaseLayout {title} {description}>
  <div class="relative max-w-[768px] h-fit w-fit inset-0 top-8 sm:bottom-8 m-auto flex gap-8">
    <div>
      <div class="flex justify-between">
        <a class="block w-fit self-end" href="https://github.com/sendhyrama">
          <img
            class="rounded-full m-0 drop-shadow-xl"
            src="/assets/memoji-me.png"
            draggable="false"
            alt="GitHub profile"
            width="150"
            height="150"
          >
        </a>
        <Navbar class="flex sm:hidden flex-col gap-3" />
      </div>
      <main class="flex flex-col">
        <h1 class="font-bold text-2xl tracking-widest mb-0">
          Howdy, I'm <a
            class="underline decoration-dotted"
            href="https://github.com/sendhyrama"
          >@sendhyrama</a>.
        </h1>
        <h2 class="font-semibold text-lg">
          A 3rd-year <span title="I just love it too much">student of</span> <wbr>
            Information System
        </h2>
        <p class="text-lg">
          I'm just a normal person who loves Frontend Development and UI/UX Design!
          I also love to learn and explore all of new things abt tech.
        </p>
        <p class="font-bold text-lg">
          はじめまして！<p></p><br>
        </p>
      </main>
    </div>
    <Navbar class="hidden sm:flex flex-col gap-3" />
  </div>
</BaseLayout>